<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <title>Sobre Nós</title>
</head>
<body>


<%- include('./partials/ymenu') %>

        <!--Conteudo da Esquerda-->
             <div class="painel">
            <div class="container">
                <section>
                    <h2>NOSSA EQUIPE:</h2>
                    <p>Somos um grupo de estudantes do curso de Informática do IFCE - Fortaleza. Nossa equipe é composta por quatro membros, unidos para a realização do trabalho de Práticas Profissionais.</p>
                </section>
        
                <section>
                    <div class="team-member">
                        <img src="/images/anders.png" alt="Foto do Membro 1">
                        <h3>Anderson Maia</h3>
                        <p>Anderson Maia: colaborador da programação web do projeto, encarregado com tarefas envolvidas com a aplicação de HTML e CSS.</p>
                    </div>
        
                    <div class="team-member">
                        <img src="/images/abner.png" alt="Foto do Membro 2">
                        <h3>Antonio Abner</h3>
                        <p>Antonio Abner: colaborador front=end e backend, encarregado para criação de telas e integração do banco de dados.</p>
                    </div>
        
                    <div class="team-member">
                        <img src="/images/camila.png" alt="Foto do Membro 3">
                        <h3>Camila Braúna</h3>
                        <p>Camila Braúna: colaboradora de front-end, encarregada dos designs de interface do menu.</p>
                    </div>
        
                    <div class="team-member">
                        <img src="/images/letici.png" alt="Foto do Membro 4">
                        <h3>Leticia Gomes</h3>
                        <p>Leticia Gomes: colaboradora responsável pelo design das telas de conteúdo e pela implementação da interface do sobre nós.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>