<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/conteudo.css">
    <title>Conteúdo</title>
</head>
<body>

<%- include('./partials/ymenu') %>
    
     <link rel="stylesheet" href="/stylesheets/conteudo.css">
        <!--Conteudo da Esquerda-->
            <div class="painel">

                <div class="card">
                    <div class="card-front">
                        <img src="/images/tela-preta.png" alt="ilustracion">
                        <p>tópico 01</p>
                    </div>
                    <div class="card-back">
                        <p>conceitos <span>básicos</span></p>
                        <a class="btn-start" href="/topicos/topico01"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/images/tela-preta.png" alt="ilustracion">
                        <p>tópico 02</p>
                    </div>
                    <div class="card-back">
                        <p>declaração e <span>tipos</span> de <span>variáveis</span></p>
                        <a class="btn-start" href="/topicos/topico02"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/images/tela-preta.png" alt="ilustracion">
                        <p>tópico 03</p>
                    </div>
                    <div class="card-back">
                        <p>operações <span>matemáticas</span></p>
                        <a class="btn-start" href="/topicos/topico03"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/images/tela-preta.png" alt="ilustracion">
                        <p>tópico 04</p>
                    </div>
                    <div class="card-back">
                        <p>estruturas de <span>repetição</span></p>
                        <a class="btn-start" href="/topicos/topico04"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/images/tela-preta.png" alt="ilustracion">
                        <p>tópico 05</p>
                    </div>
                    <div class="card-back">
                        <p>estrutura de <span>seleção</span></p>
                        <a class="btn-start" href="/topicos/topico05"><button class="start">start</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>
