<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/menu.css">
    <title>Menu</title>
</head>
<body>


<%- include('./partials/ymenu') %>

        <!--Conteudo da Esquerda-->
            <div class="painel">
                <div class="card-main-painel">
                    <div class="nav-fake">
                        <div class="tres-pontos">
                            <span class="red"></span>
                            <span class="yellow"></span>
                            <span class="green"></span>
                        </div>
                    </div> <!--Nav Fake-->
                    <div class="title">
                    <p>https://cobralingo.com</p>
                    </div>
                    <div class="intro">
                        <div class="cobralingo">
                        <aside><!--Conteudo da Esquerda-->
                            <img src="/images/Python.png" alt="cobra">
                        </aside>

                        <article> <!--Conteudo da Direita-->
                            <h1>Cobralingo</h1>
                            <p>
                                Comece sua jornada de programação com o Cobralingo e 
                                aprenda Python de forma prática e divertida! 
                            </p>
                            <a class="button-start" href="/topicos">
                                <img src="/images/play.png" alt="botao-play">
                            </a>
                        </article>
                        </div> <!--Cobralingo-->
                    </div>
                </div> <!--Card-Main-->
            </div>
            </div>

            </div>

</body>
</html>