<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cobralingo</title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
</head>
<body>
    <script src="bdados.js"></script>
    <h1> COBRALINGO </h1>


    <div id="subody">

    <div class="container">

        <h2> CADASTRO </h2>
         
        <form id="cadastroForm" action="/register" method="post">
            <input id="user" type="text" name="username" placeholder="Nome de Usuário" required>
            <input id = "senha" type="password" name="password" placeholder="Senha" required>
            <input type="password" name="confirmPassword" placeholder="Confirmar Senha" required>
             <button type="submit" id="CadButton"> CADASTRAR </button>
        </form>

       

    </div>

  </div>
</body>
</html>