<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cobralingo</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <h1> COBRALINGO </h1>


    <div id="subody">

    <div class="container">

        <h2> LOGIN </h2>

        <form id="loginForm" action="login" method="post">
            <input type="text" name="username" placeholder="User">
            <input type="password" name="password" placeholder="Senha">
            <a href="/cadastro"> <p> Ainda não possui cadastro? </p> </a>
            <button id="LoginButton"> LOGIN </button>
        </form>

    </div>

  </div>
</body>
</html>