<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/conteudo.css">
    <title>Conteúdo</title>
</head>
<body>
    
    <div class="main">
        <!--Conteudo da Esquerda-->
        <div class="card-main">
            <div class="menu">
                <div class="perfil">
                    <img src="/images/icon-perfil.png" alt="perfil">
                </div>

                <h2>olá, user!</h2>

                <a class="button-menu" href="/menu"><button class="btn" >Menu</button></a>
                <a class="button-perfil" href="/perfil"><button class="btn">Perfil</button></a>
                <a class="button-conteudo" href="/topicos"><button class="btn">Conteúdo</button></a>
                <a class="button-aboutus" href="/aboutUs"><button class="btn">About Us</button></a>
                <a class="button-github" href="https://github.com/Cam1ss/PP-II"><button class="btn">GitHub</button></a>
            </div>

        <!--Conteudo da Esquerda-->
            <div class="painel">

                <div class="card">
                    <div class="card-front">
                        <img src="/assents/imgs/tela-preta.png" alt="ilustracion">
                        <p>tópico 01</p>
                    </div>
                    <div class="card-back">
                        <p>descrição</p>
                        <a class="btn-start" href="/topicos/topico01"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/assents/imgs/tela-preta.png" alt="ilustracion">
                        <p>tópico 02</p>
                    </div>
                    <div class="card-back">
                        <p>Declaração e tipos de variáveis</p>
                        <a class="btn-start" href="/topicos/topico02"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/assents/imgs/tela-preta.png" alt="ilustracion">
                        <p>tópico 03</p>
                    </div>
                    <div class="card-back">
                        <p>descrição</p>
                        <a class="btn-start" href="topicos/topico03"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/assents/imgs/tela-preta.png" alt="ilustracion">
                        <p>tópico 04</p>
                    </div>
                    <div class="card-back">
                        <p>descrição</p>
                        <a class="btn-start" href="topicos/topico04"><button class="start">start</button></a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-front">
                        <img src="/assents/imgs/tela-preta.png" alt="ilustracion">
                        <p>tópico 05</p>
                    </div>
                    <div class="card-back">
                        <p>descrição</p>
                        <a class="btn-start" href=""><button class="start">start</button></a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>

</body>
</html>
