
    <div class="main">
        <!--Conteudo da Esquerda-->
        <div class="card-main">
            <div class="menu">
                <div class="perfil">
                    <img src="/images/icon-perfil.png" alt="perfil">
                </div>

                <h2 id="nomeUser">olá, user!</h2>

                <a class="button-menu" href="/menu"><button class="btn" >Menu</button></a>
                <a class="button-perfil" href="/perfil"><button class="btn">Perfil</button></a>
               
                <a class="button-aboutus" href="/aboutUs"><button class="btn">About Us</button></a>
                <a class="button-github" href="https://github.com/Cam1ss/PP-II"><button class="btn">GitHub</button></a>
            </div>

    <script src="/javascripts/nomeUser.js"></script>